@font-face {
    font-family: 'Bahij SultanNahia';
    src: url('fonts/BahijSultanNahia-Regular.eot');
    src: local('Bahij SultanNahia'), local('BahijSultanNahia-Regular'),
        url('fonts/BahijSultanNahia-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BahijSultanNahia-Regular.woff2') format('woff2'),
        url('fonts/BahijSultanNahia-Regular.woff') format('woff'),
        url('fonts/BahijSultanNahia-Regular.ttf') format('truetype'),
        url('fonts/BahijSultanNahia-Regular.svg#BahijSultanNahia-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

